<html>
<head>
    <title>RFF робот управление</title>
    <style></style>
</head>
<body>
    <form action="" method="post">
        <img src="{{ url_for('video_feed') }}" width="950" height="740" border="10" vspace="150" align="right">
        <center>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" name="forward" value="ВПЕРЕД" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px"></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" name="left" value="ВЛЕВО" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px"></td>
                <td><input type="submit" name="stop" value="СТОП" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px">
                </td>
                <td><input type="submit" name="right" value="ВПРАВО" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="back" value="НАЗАД" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px"></td>
                <td></td>
            </tr>
        </table>
        </center>
    </form>
</body>
</html>
