<html>
<head>
    <title>RRT робот управление</title>
    <style></style>
</head>
<body>
    <form action="" method="post">
        <img src="{{ url_for('video_feed') }}" width="950" height="740" border="10" vspace="150" align="right">
        <center>
        <table>
            <tr>
                <td></td>
                <td><input type="submit" name="forward" value="ВПЕРЕД" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px;background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
                            background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
                            color: #fff;
                            border: 2px solid  #666;;"></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" name="left" value="ВЛЕВО" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px;background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
                            background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
                            color: #fff;
                            border: 2px solid  #666;;"></td>
                <td><input type="submit" name="stop" value="СТОП" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px;background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
                            background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
                            color: #fff;
                            border: 2px solid  #666;;">
                </td>
                <td><input type="submit" name="right" value="ВПРАВО" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px;background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
                            background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
                            color: #fff;
                            border: 2px solid  #666;;"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="back" value="НАЗАД" ,
                           style="height:200px; width:300px; font-size: 300%; border-radius:  20px;background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
                            background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
                            color: #fff;
                            border: 2px solid  #666;;"></td>
                <td></td>
            </tr>
        </table>
        </center>
    </form>
</body>
</html>
